@charset "UTF-8";

body {
  margin: 0;
}

header {
  /* border: 4px solid blue; */
  display: flex;
  font-family: Biryani, Roboto, sans-serif;
  font-weight: 800;
  background: #333;
  color: white;
  position: fixed;
  width: 100%;
}

header p {
  /* border: 4px solid red; */
  margin: 0;
  flex: 1;
  padding: 18px;
  color: lightgray;
}

nav {
  /* border: 4px solid purple; */
  flex: 1;
  text-align: right;
}

nav a {
  text-decoration: none;
  color: lightgrey;
  padding: 18px;
  padding-bottom: 14px;
  display: inline-block;
}

nav a:hover {
  border-bottom: 4px solid turquoise;
  transition: border-bottom 0.3s;
}

h1 {
  margin: 0;
}

div#wrapper {
  background: url(images/pexels-kevin-ku-577585.jpg);
  background-size: cover;
  height: 100vh;
}

section {
  height: 100vh;
  padding-top: 75px;
  font-family: Biryani, Roboto, sans-serif;
}
main {
  background: rgba(40, 44, 52, 0.8);
  color: lightgray;
  border-radius: 1em;
  padding: 25px;
}

article,
main {
  width: 50%;
  margin: auto;
}
